<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <div th:if=${room_id}>
    <h1>ルーム[[${room_id}]]へようこそ！！</h1>
  </div>
  <a th:href="@{/blackjack/{rid}/start(rid=${room_id})}">START</a>

  <div th:if="${cards}">
    <p>プレイヤーの手札</p>
    <div th:each="card,stat:${cards}">
      ID:[[${card.id}]]
      マーク:"[[${card.suit}]]"
      番号:"[[${card.number}]]"
    </div>
    <div>
      合計:[[${total}]]
    </div>
    <form action="/blackjack/{room_id}/stand" method="get">
      <input type="submit" value="スタンド">
    </form>
  </div>

  <div th:if="${dCards}">
    <p>ディーラーの手札</p>
    <div th:each="card,stat:${dCards}">
      ID:[[${card.id}]]
      マーク:"[[${card.suit}]]"
      番号:"[[${card.number}]]"
    </div>
    <div>
      合計:[[${dTotal}]]
    </div>
    <form action="/blackjack/{room_id}/hit" method="get">
      <input type="submit" value="ヒット">
    </form>
    <form action="/blackjack/{room_id}/stand" method="get">
      <input type="submit" value="スタンド">
    </form>

  </div>

</body>

</html>
