@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.button{
  margin-top: 10px;
  margin-left: 10px;
}
h1{
  font-family: 'M PLUS Rounded 1c', sans-serif;
    /*文字の色をwhiteに変更*/
  color: white;
  /*背景の色をblackに変更*/
  background-color: black;
  padding: 10px;
}

div{
  font-family: 'Noto Sans JP', sans-serif;
}

form{
  margin-top: 10px;
  margin-bottom: 10px;
}

.marbutton{
  margin-top: 10px;
  margin-bottom: 10px;
}

.player{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;
  /*背景の色をblackに変更*/
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dealer{
  font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
  /*背景の色をblackに変更*/
  background-color: red;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.largefont{
  font-size: 28px;
}
