<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--bootstrapでは実装が困難なときのためのcssファイル-->
  <link rel="stylesheet" href="/blackjack.css">

  <title>Playing Game</title>
  <script>
    window.onload = function () {

      var sse = new EventSource('/blackjack/status/' + [[${ room_id }]]);
      sse.onmessage = function (event) {
        console.log(event.data);
        document.getElementById("p1").textContent = event.data;
      }
    }
  </script>
</head>

<body>
  <div id="p1"></div>
  <div>
    <p><a th:href="@{/exit/{id}(id=${room_id})}" class="btn btn-sm btn-dark button" role="button">退室</a></p>
  </div>
  <div th:if=${room_id}>
    <h1 class="text-center welcome">ルーム[[${room_id}]]へようこそ！！</h1>
  </div>

  <div class="text-center" th:if="${bet}">
    賭けたチップ:[[${bet}]]<br>
    <a th:href="@{/blackjack/{rid}/start(rid=${room_id})}" class="btn btn-sm btn-dark marbutton" role="button">START</a>
  </div>


  <div th:if="${cards}">
    <p>プレイヤーの手札</p>
    <div th:each="card,stat:${cards}">
      <img height="100px" th:src="@{${'/tramp/' + card.id + '.jpg'}}" alt="" />
    </div>
    <div>
      合計:[[${total}]]
    </div>
    <!--スタンド時にボタンが非表示に-->
    <div th:unless="${stand_flag}">

      <!--Hit_Z0413-->
      <form action="hit" method="get">
        <input type="submit" value="ヒット">
      </form>

      <form action="stand" method="get">
        <input type="submit" value="スタンド">
      </form>
    </div>
    <div th:if="${stand_flag}">
      スタンドしました
    </div>
  </div>

  <div th:if="${dCards}">
    <p>ディーラーの手札</p>
    <div th:each="card,stat:${dCards}">
      <p th:if="${stand_flag == true || stat.count gt 1}">
        <img height="100px" th:src="@{${'/tramp/' + card.id + '.jpg'}}" alt="" />
      <p th:if="${stand_flag == false && stat.first}">
        <img height="100px" src="/tramp/53.jpg" alt="" />
      </p>
    </div>
    <div>
      <p th:if="${stand_flag}">
        引く前の合計:[[${tmpdTotal}]]
      </p>
      <p th:unless="${stand_flag}">
        引く前の合計:?????
      </p>
    </div>
  </div>

  <div th:if="${AddDCards}">
    <div th:each="card2,stat:${AddDCards}">
      トランプの数字の合計が16以下なのでヒットします<br>
      <img height="100px" th:src="@{${'/tramp/' + card2.id + '.jpg'}}" alt="" />
    </div>
    トランプの数字の合計が17以上なのでスタンドします<br>
    スタンド後の合計:[[${dTotal}]]
  </div>

  <div th:switch="${result}">
    <p th:case=1>
      Win!
    </p>
    <p th:case=-1>
      Lose
    </p>
    <p th:case=2>
      Draw
    </p>
    <!--p th:case=*>

    </p-->

  </div>
  <div class="text-center" th:if="${user}">
    ユーザー情報(仮設置)
    ID:[[${user.user_id}]]
    名前:"[[${user.username}]]"
    持ちチップ:[[${user.chip}]]<br>
  </div>

  <div class="text-center" th:unless="${bet}">
    チップを賭けてください(100チップまで可)
    <form th:action="@{/blackjack/{rid}/bet(rid=${room_id})}" method="post">
      <input type="number" name="bet" required>
      <input type="submit" value="ベット"><input type="reset" value="リセット">
    </form>
  </div>

</body>

</html>
