<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <div th:if=${room_id}>
    <h1>ルーム[[${room_id}]]へようこそ！！</h1>
  </div>

  <div th:if="${bet}">
    賭けたチップ:[[${bet}]]<br>
    <a th:href="@{/blackjack/{rid}/start(rid=${room_id})}">START</a>
  </div>


  <div th:if="${cards}">
    <p>プレイヤーの手札</p>
    <div th:each="card,stat:${cards}">
      ID:[[${card.id}]]
      マーク:"[[${card.suit}]]"
      番号:"[[${card.number}]]"
    </div>
    <div>
      合計:[[${total}]]
    </div>
    <!--スタンド時にボタンが非表示に-->
    <div th:unless="${stand_flag}">

      <!--Hit_Z0413-->
      <form action="hit" method="get">
        <input type="submit" value="ヒット">
      </form>

      <form action="stand" method="get">
        <input type="submit" value="スタンド">
      </form>
    </div>
    <div th:if="${stand_flag}">
      スタンドしました
    </div>


  </div>

  <div th:if="${dCards}">
    <p>ディーラーの手札</p>
    <div th:each="card,stat:${dCards}">
      <p th:if="${stand_flag == true || stat.count gt 1}">
        ID:[[${card.id}]]
        マーク:"[[${card.suit}]]"
        番号:"[[${card.number}]]"</p>
      <p th:if="${stand_flag == false && stat.first}">
        ID:??マーク:?????番号:??
      </p>
    </div>
    <div>
      <p th:if="${stand_flag}">
        引く前の合計:[[${tmpdTotal}]]
      </p>
      <p th:unless="${stand_flag}">
        引く前の合計:?????
      </p>
    </div>
  </div>

  <div th:if="${AddDCards}">
    <div th:each="card2,stat:${AddDCards}">
      トランプの数字の合計が16以下なのでヒットします<br>
      ID:[[${card2.id}]]
      マーク:"[[${card2.suit}]]"
      番号:"[[${card2.number}]]"
    </div>
    トランプの数字の合計が17以上なのでスタンドします<br>
    スタンド後の合計:[[${dTotal}]]
  </div>

  <div th:switch="${result}">
    <p th:case=1>
      Win!
    </p>
    <p th:case=-1>
      Lose
    </p>
    <p th:case=2>
      Draw
    </p>
    <!--p th:case=*>

    </p-->

  </div>
  <div th:if="${user}">
    ユーザー情報(仮設置)
    ID:[[${user.user_id}]]
    名前:"[[${user.username}]]"
    持ちチップ:[[${user.chip}]]<br>
  </div>

  <div th:unless="${bet}">
    <form th:action="@{/blackjack/{rid}/bet(rid=${room_id})}" method="post">
      <input type="number" name="bet" required>
      <input type="submit" value="ベット"><input type="reset" value="リセット">
    </form>
  </div>

</body>

</html>
