<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/error_joined.css">
  <title>入室エラー</title>
</head>

<body>
  <h1 class="text-center">入室エラー</h1>
  <p>既に入室しています</p>
  <p class="text-center"><a class="btn btn-sm btn-dark" href="/room">ルーム選択画面に戻る</a></p>
</body>

</html>
