<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--bootstrapでは実装が困難なときのためのcssファイル-->
  <link rel="stylesheet" href="/room.css">
  <title>ルーム選択</title>
</head>

<body>
  <h1 class="text-center">ルーム選択画面</h1>
  <p class="text-center"><a class="btn btn-sm btn-dark" href="/room/make">ルームを作成する</a></p>
  <p class="text-center">ルームを選択してください</p>
  <div th:if="${rooms}">
    <table class="table table-striped">
      <tr>
        <th>ルーム番号</th>
        <th>ルーム名</th>
        <th>作成日</th>
        <th>人数</th>
        <th>入室</td>
      </tr>
      <div th:each="room,stat:${rooms}">
        <tr>
          <td>[[${room.room_id}]]</td>
          <td>[[${room.room_name}]]</td>
          <td>[[${room.date}]]</td>
          <td>[[${room.count}]]/[[${room.limits}]]</td>
          <td><a class="btn btn-sm btn-dark" th:href="@{/blackjack/{id}(id=${room.room_id})}">入室</a></td>
        </tr>
      </div>
    </table>
  </div>
  <div th:unless="${rooms}">
    <p>ルームが作成されていません。</p>
  </div>
</body>

</html>
