<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>ルーム選択</title>
</head>

<body>
  <a href="/room/make">ルームを作成する</a>
  <p>ルームを選択してください</p>
  <div th:if="${rooms}">
    <div th:each="room,stat:${rooms}">
      <tr>
        <td>ルーム番号:[[${room.room_id}]]</td>
        <td>ルーム名:[[${room.room_name}]]</td>
        <td>作成日:[[${room.date}]]</td>
        <td>人数[[${room.count}]]/[[${room.limits}]]</td>
        <td><a th:href="@{/blackjack/{id}(id=${room.room_id})}">入室</a></td>

      </tr>
    </div>
  </div>
  <div th:unless="${rooms}">
    <p>ルームが作成されていません。</p>
  </div>
</body>

</html>
